<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMP180</title>
</head>
<body>
<form action="/sensor/BMP180" method="post">
    <img src="/image/BMP180.jpg">
    <p>报警手机: <input type="text" name="phone"/></p>
    <p>气压</p>
    <p>上限值: <input type="text" name="Pr_up"/></p>
    <p>下限值: <input type="text" name="Pr_down"/></p>
    <p>海拔</p>
    <p>上限值: <input type="text" name="Hi_up"/></p>
    <p>下限值: <input type="text" name="Hi_down"/></p>
    <p>温度</p>
    <p>上限值: <input type="text" name="Te_up"/></p>
    <p>下限值: <input type="text" name="Te_down"/></p>
    <input type="submit" value="提交"/>
</form>
</body>
</html>