<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMP180</title>
</head>
<body bgcolor="#E1FFFF">
<form action="/sensor/BMP180" method="post">
    <img src="/image/BMP180.jpg">
    <p>报警手机: <input type="text" name="phone"/></p>
    <p>气压</p>
    <p>上限值: <input type="text" name="prUp"/></p>
    <p>下限值: <input type="text" name="prDown"/></p>
    <p>海拔</p>
    <p>上限值: <input type="text" name="hiUp"/></p>
    <p>下限值: <input type="text" name="hiDown"/></p>
    <p>温度</p>
    <p>上限值: <input type="text" name="teUp"/></p>
    <p>下限值: <input type="text" name="teDown"/></p>
    <input type="submit" value="提交"/>
</form>
</body>
</html>