<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DHT11</title>
</head>
<body bgcolor="#E1FFFF">
<div style="width:100%;text-align:center">
<form action="/sensor/DHT11" method="post">
    <img src="/image/DHT11.jpg">
    <p>报警手机: <input type="text" name="phone"/></p>
    <p>温度</p>
    <p>上限值: <input type="text" name="teUp"/></p>
    <p>下限值: <input type="text" name="teDown"/></p>
    <p>湿度</p>
    <p>上限值: <input type="text" name="huUp"/></p>
    <p>下限值: <input type="text" name="huDown"/></p>
    <p><input type="checkbox" name="status" value="1"/>启动报警</p>
    <input type="submit" value="提交"/>
</form>
</div>
</body>
</html>